.boton{
    margin: 10px;
    height: 30px;
    width: 120px;
    background-color: rgb(188, 223, 229);
    border-radius: 10px;
    border-color: black;
}


.cuadro-botones{
    margin: auto;
    padding: 30px;
    border-color: black;
    border: 1px;
    background-color: rgba(27, 252, 39, 0.747);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    width: 250px;
    height: 250px;
    display: flexbox;
    align-items: center;
    align-content: center;
    position: relative;
    left: 500px;
    top: 100px

   
}

.body-menu{
    
    height: 40px;
    width: 20px;

}