.imagen{
    margin: 10px;
    padding: 20px;
    width: 100px;
    height: 100px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 50px 50px 50px 50px;
    border-style: solid;
    border-color: rgb(5, 77, 136);
    position: relative;
    bottom: 7px;
    
}

.player{
    border-radius: 30px;
    margin: 15px;
    width: 600px;
    height: 270px;
    background-color: rgb(195, 245, 188);
    border: 15px;
    border-style: double;
    border-color: rgb(5, 136, 81);
}

.btn-volver-menu-princ{
    padding: initial;
    margin: auto;
    display: flex;
    
    width: 30px;
    height: 30px;
    background-color: rgb(195, 245, 188);
    border-radius: 50px 50px 50px 50px;
    position: relative;
    bottom: 700px;
    left: 500px;
}