.iconos-menu{
    background-color: rgb(124, 124, 136);
    border-radius: 10px;
    align-items: center;
    width: 500px;
    height: 120px;
}

.iconos{
    padding: 10px;
    width: 80px;
    height: 100px;
}